<div class="principal">

  <div class="logo-container">
    <img src="../assets/page/Pisosmanriquez.logo-02.png" class="logo" alt="">
  </div>

  <div class="radio-container">
    <img src="assets\page\Icono perfil.svg" class="icono-perfil">
  </div>

  <div class="container">
    <form action="">
      <div class="Input">
        <div class="icon-perfil">
          <img src="assets\page\Icono perfil.svg" alt="">
        </div>
        <input type="text" value="Rut">
      </div>
      <div class="Input">
        <div class="icon-perfil">
          <img src="assets\page\Icono contraseña.svg" alt="">
        </div>
        <input type="password" value="Contraseña">
      </div>
    </form>
    <div class="footer-container">
      <div class="check">
        <input type="checkbox"> 
        <p>Recordarme</p>
      </div> 
      <a href="">¿Olvidaste tu contraseña?</a>
    </div>
    <button type="submit" class="butt-inciar">Iniciar sesión</button>
  </div>
  <div class="reg">
      <p>¿No tienes cuenta?</p>
      <button type="submit" class="butt-reg">Registrarse</button>
  </div>
  <footer>
    <p>Privacidad</p>
  </footer>
</div>
