<div class="logo-container">
  <img src="../assets/page/Pisosmanriquez.logo-02.png" class="logo" alt="">
</div>

<div class="principal">
  <div class="radio-container">
    <img src="assets\page\Icono perfil.svg" class="icono-perfil">
  </div>
  <div class="container">
  
    <img src="" alt="" class="icon">
    <form action="">
      <div class="perfil">
        <img src="assets\page\Icono perfil.svg" alt="" class="icon-perfil">
        <input type="text" value="Rut">
      </div>
      <div class="pass">
        <img src="assets\page\Icono contraseña.svg" alt="" class="icon-perfil">
        <input type="password" value="Contraseña">
      </div>
  
      <input type="checkbox">
  
      <button type="submit">Iniciar sesión</button>
      <p>¿No tienes cuenta?</p>
      <button type="submit">Registrarse</button>
      <p>Privacidad</p>
    </form>
  
  </div>
  

</div>
