<div class="principal">

  <div class="logo-container">
    <img src="../assets/page/Pisosmanriquez.logo-02.png" class="logo" alt="">
  </div>

  <div class="radio-container">
    <div class="icono-perfil">
      <img src="assets\page\Icono perfil.svg">
    </div>
  </div>

  <div class="container">
    <div class="container-form">
      <form action="">
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono perfil.svg" alt="">
          </div>
          <input type="text" placeholder="Nombre de usuario">
        </div>
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono contraseña.svg" alt="">
          </div>
          <input type="password" placeholder="Email">
        </div>
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono contraseña.svg" alt="">
          </div>
          <input type="password" placeholder="Número de teléfono">
        </div>
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono contraseña.svg" alt="">
          </div>
          <input type="password" placeholder="Contraseña">
        </div>
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono contraseña.svg" alt="">
          </div>
          <input type="password" placeholder="Repetir Contraseña">
        </div>
        <div class="butt-reg">
          <button type="submit">Registrarse</button>
        </div>
      </form>
    </div> 
  </div>
  <footer>
    <p>Privacidad</p>
  </footer>
</div>