<div class="principal">

  <div class="logo-container">
    <img src="../assets/page/Pisosmanriquez.logo-02.png" class="logo" alt="">
  </div>

  <div class="radio-container">
    <div class="icono-perfil">
      <img src="assets\page\Icono perfil.svg">
    </div>
  </div>

  <div class="container">
    <div class="container-form">
      <form action="">
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono perfil.svg" alt="">
          </div>
          <input type="text" placeholder=" Rut">
        </div>
        <div class="Input">
          <div class="icon-perfil">
            <img src="assets\page\Icono contraseña.svg" alt="">
          </div>
          <input type="password" placeholder=" Contraseña">
        </div>
        <div class="footer-container">
          <div class="check">
            <input type="checkbox"> 
            <p>Recordarme</p>
          </div> 
          <div class="forget-pass">
            <a href="">¿Olvidaste tu contraseña?</a>
          </div> 
        </div>
        <div class="butt-inciar">
          <button type="submit" >Iniciar sesión</button>
        </div>
      </form>
    </div> 
  </div>
  <div class="reg">
    <div class="reg-p">
      <p>¿No tienes cuenta?</p>
    </div>
    <div class="reg-b">
      <button type="submit">Registrarse</button>
    </div>
  </div>
  <footer>
    <p>Privacidad</p>
  </footer>
</div>