<app-navbar [var]="{route:'/productos/category',title:'Productos'}" ></app-navbar>
<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/productos/add">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text" [(ngModel)]="this.filter" name="filter" autocomplete="off" placeholder="Ingrese nombre del producto" style="text-align: center;">
    </div>
    <div class="search-button">
        <mat-icon (click)="search(0)">search</mat-icon>
    </div>
</div>
<div class="spiner" *ngIf="this.array.length == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando productos ...</span>
</div>

<app-lista *ngIf="this.array.length != 0 && estadoDeSearch == 1" [input]="{indicador:'products',data:arrayAux}"></app-lista>