<app-navbar [var]="{route:'/productos/products-category/',title:'Modificar Producto',category:this.newProducto.categoria}" ></app-navbar>
<div class="container-general" *ngIf="this.categorias.length > 0 && this.indicador === 1" >
    <div class="container-inputs">
        <div class="title">
            <h3>Reemplaza los valores necesarios</h3>
        </div>
         <div class="form">

            <div class="inputLine">
                <label>
                   Nombre
                </label>
                <input [(ngModel)]="newProducto.nombre" name="nombre" type="text" placeholder="ingrese nombre">
            </div>
            <div class="inputLine">
                <label>
                    Unidad de Medida
                </label>
                <input [(ngModel)]="newProducto.unidadMedida" name="medida" type="text" placeholder="Ingrese tipo de medida">
            </div>
            <div class="inputLine">
                <label>
                    Stock
                </label>
                <input  [(ngModel)]="newProducto.stock" name="medida" type="number" placeholder="Ingrese Stock">
            </div>
            <div class="inputLine">
                <label>
                    Valor
                </label>
                <input  [(ngModel)]="newProducto.valor" name="medida" type="number" placeholder="Ingrese Valor">
            </div>
            <div class="inputLine">
                <label>
                    Descripcion
                </label>
                <textarea [(ngModel)]="newProducto.descripcion" name="descripcion" placeholder="Ingrese descripcion"></textarea>
            </div>
            <div class="inputLine">
                <label>
                    Categoria
                </label>
                <select style="text-align: center;" [(ngModel)]="newProducto.categoria" name="categoria" class="categoria" >
                    <option hidden selected>{{newProducto.categoria}}</option>
                    <option *ngFor="let categoria of this.categorias" value={{categoria.nombre}}>{{categoria.nombre}}</option>
                  </select>
            </div>
            <label>
                Preview imagen actual
            </label>
            <div class="preview-imagen-antigua">
                <img src={{newProducto.imagen}} alt="">
            </div>
            <div class="inputLine">
                <label>
                    Si quieres cambiar la imagen selecciona una
                </label>
                <input  type="file" alife-file-to-base64  (onFileChanged)="onFileChanges($event)" placeholder="ingrese imagen">
            </div>


            <button (click)="this.eliminar(this.id)" [routerLink]="['/productos/products-category/',this.newProducto.categoria]">Eliminar</button>
            <button (click)="this.editar()" [routerLink]="['/productos/products-category/',this.newProducto.categoria]">Editar</button>
            <button [routerLink]="['/productos/products-category/',this.newProducto.categoria]">Cancelar</button>

        </div>



    </div>

</div>
