<app-navbar [var]="{route:'/app/home',title:'Clientes'}" ></app-navbar>

<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/clientes/add/cliente">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text" style="text-align: center;" [(ngModel)]="this.filterListCliente" name="filter" placeholder="ingrese nombre del cliente">
    </div>
    <div class="search-button">
        <mat-icon style="cursor: pointer;" (click)="search(0)">search</mat-icon>
    </div>
</div>


<div class="spiner" *ngIf="this.array.length == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando clientes...</span>
</div>


<app-lista *ngIf="this.array.length != 0 && this.estadoDeSearch == 1" [input]="{indicador:'clientes',data:arrayAux}"></app-lista>
