<app-navbar [var]="{route:'/app/home',title:'Clientes'}" ></app-navbar>


<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" href="/clientes/add/cliente">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>

<div class="container-general">

    <div style="margin-top: 4px;" class="up"> 
        <button style="background-color: transparent;
                       border: none; 
        " (click)="nf_for_preview()"><mat-icon >expand_less</mat-icon></button>
    </div>

    <div class="container-clientes">
       
        <div class="item" *ngFor="let cliente of this.segmento">
            <div class="item-data">
                <div class="data-line">
                    <b>Cliente:</b> <p>&nbsp;nombre del cliente</p>
                </div>
                <div class="data-line">
                    <b>Rut: </b> <p>&nbsp;XX.XXX.XXX-X</p>
                </div>
            </div>
            <div class="item-button">
                <div class="button-eye">
                    <a style="text-decoration: none;" [routerLink]="['/clientes/ventasCliente/'+cliente]">
                        <button><mat-icon>visibility</mat-icon></button>
                    </a>
                    
                </div>
                <div class="button-number">
                    <div class="button-number-item">
                        <b>N°</b> <p>{{cliente}}</p>
                    </div>
                    <button><mat-icon>more_horiz</mat-icon></button>
                </div>
            </div>
        </div>
                    
    </div>


    <div class="up">
        <button style="background-color: transparent;
                       border: none; 
        " (click)="nf_for_next()"><mat-icon >expand_more</mat-icon></button>
    </div>


    <div class="container-carrusel">
        <div class="carrusel">
            <div (click)="nf_for_preview()" class="button-preview">
                <mat-icon>expand_less</mat-icon>
            </div>
            <div class="item-carrusel">
                <div class="item" *ngFor="let cliente of segmento">
                  
                    <div class="data">
                        <div class="data-line">
                            <b>Cliente:</b> <p>&nbsp;nombre del cliente</p>
                        </div>
                        <div class="data-line">
                            <b>Rut: </b> <p>&nbsp;XX.XXX.XXX-X</p>
                        </div>
                        
                    </div>
                    <div class="left-component">
                        <div class="button-eye">
                            <a style="text-decoration: none;" [routerLink]="['/clientes/ventasCliente/'+cliente]">
                                <button><mat-icon>visibility</mat-icon></button>
                            </a>
                        </div>
                        <div class="button-number">
                            <div class="button-number-item">
                                <b>N°</b> <p>{{cliente}}</p>
                            </div>
                            <button><mat-icon>more_horiz</mat-icon></button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div (click)="nf_for_next()" class="button-next">
                <mat-icon>expand_less</mat-icon>
            </div>
        </div>
    </div>
</div>
