.container-general{
    width: 100vw;
    height: 90%;
    margin-top: auto;
    color: white;
    transform: translate(0,53px);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1{
    margin-top: 50px;
}

span{
    margin: 0 10px 0 10px;
}

.date{
    border-radius: 5px;
    border: none;
    border-color: transparent;
    text-align: center;
}
.busqueda{
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.grafica{
    margin-top: 50px;
    width:900px;
}
.spiner{
    margin: auto;
}

.buttons{
    margin-top: 20px;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    background: #F25C05 0% 0% no-repeat padding-box;
    height: 25px;
    border: none;
    border-radius: 19px;
    opacity: 1;
    color: white;
    margin: 0 10px 0 10px;
    
}