
  
    <div class="filtro">
      <button mat-icon-button>
        <mat-icon> add_circle_outline </mat-icon>
      </button>
  
  
  
      <form class="form-search">
        <input type="text" />
      </form>
      <button mat-icon-button>
        <mat-icon> search </mat-icon>
      </button>
    </div>
  
  
  
    <div class="arrow">
      <mat-icon>
        <img src="../../../../assets/page/arriba abajo.svg"/>
    </mat-icon>
    </div>
  
  
  
    <div class="back-fondo">
      <div class="list-proveedores">
        <mat-list>
          <mat-list-item> 
            <p matLine>Nombre: Juan Larenas</p>
            <p matLine>Rut: 12.121.123-2</p>
            <img class="logo" src="../../../../assets/page/home.svg" alt="">
            <img class="logo" src="../../../../assets/page/home.svg" alt="">
            <img class="logo" src="../../../../assets/page/home.svg" alt="">
          </mat-list-item>
          

        </mat-list>
      </div>
    </div>
  
    <div class="arrow">
      <mat-icon>
        <img  class="invertir" src="../../../../assets/page/arriba abajo.svg"/>
    </mat-icon>
    </div>

