<app-navbar [var]="{route:'/clientes',title:'Modificar Cliente'}" ></app-navbar>

<!-- <div class="spiner" >
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando cliente...</span>
</div> -->

<div class="container-general">
  <div class="title-box">Cliente: {{nameClient | titlecase}}</div>
  <form class="formModify" [formGroup]="modifyClienteForm">
    <div class="inputs">
      <div class="box">
        <div class="header">
          <p>Nombre</p>
        </div>
        <div class="input">
          <input type="text" name="name" required formControlName="name" />
        </div>
        <p
          *ngIf="modifyClienteForm.get('name')?.touched && modifyClienteForm.get('name')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese su nombre
        </p>
      </div>
      <div class="box">
        <div class="header">
          <p>RUT</p>
        </div>
        <div class="input">
          <input type="text" name="rut" required formControlName="rut" />
        </div>
        <p
          *ngIf="modifyClienteForm.get('rut')?.touched && modifyClienteForm.get('rut')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese el rut
        </p>
        <p
          *ngIf="modifyClienteForm.get('rut')?.touched && modifyClienteForm.get('rut')?.errors?.['minlength']"
          class="message-error"
        >
          *Campo requerido: ingrese mínimo 9 digitos
        </p>
        <p
          *ngIf="modifyClienteForm.get('rut')?.touched && modifyClienteForm.get('rut')?.errors?.['maxlength']"
          class="message-error"
        >
          *Campo requerido: ingreso más de 10 digitos
        </p>
        <p
          *ngIf="modifyClienteForm.get('rut')?.touched && modifyClienteForm.get('rut')?.errors?.['pattern']"
          class="message-error"
        >
          *Campo requerido: ingrese correctamente el rut
        </p>
      </div>
      <div class="box">
        <div class="header">
          <p>Correo</p>
        </div>
        <div class="input">
          <input
            type="text"
            name="correo"
            required
            formControlName="correo"
          />
        </div>
        <p
          *ngIf="modifyClienteForm.get('correo')?.touched && modifyClienteForm.get('correo')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese correo
        </p>
        <p
          *ngIf="modifyClienteForm.get('correo')?.touched && modifyClienteForm.get('correo')?.errors?.['correo']"
          class="message-error"
        >
          *ingrese en formato de correo
        </p>
      </div>
      <div class="box">
        <div class="header">
          <p>Dirección</p>
        </div>
        <div class="input">
          <input
            type="text"
            name="direccion"
            required
            formControlName="direccion"
          />
        </div>
        <p
          *ngIf="modifyClienteForm.get('direccion')?.touched && modifyClienteForm.get('direccion')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese dirección
        </p>
      </div>
      <div class="box">
        <div class="header">
          <p>Teléfono</p>
        </div>
        <div class="input">
          <input
            type="text"
            name="telefono"
            required
            formControlName="telefono"
          />
        </div>
        <p
          *ngIf="modifyClienteForm.get('telefono')?.touched && modifyClienteForm.get('telefono')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese teléfono
        </p>
        <p
          *ngIf="modifyClienteForm.get('telefono')?.touched && modifyClienteForm.get('telefono')?.errors?.['minlength']"
          class="message-error"
        >
          *Campo requerido: ingrese mínimo 9 digitos
        </p>
        <p
          *ngIf="modifyClienteForm.get('telefono')?.touched && modifyClienteForm.get('telefono')?.errors?.['maxlength']"
          class="message-error"
        >
          *Campo requerido: ingreso más de 9 digitos
        </p>
        <p
          *ngIf="modifyClienteForm.get('telefono')?.touched && modifyClienteForm.get('telefono')?.errors?.['pattern']"
          class="message-error"
        >
          *Campo requerido: ingreso solo números
        </p>
      </div>
      <div class="box">
        <div class="header">
          <p>comuna</p>
        </div>
        <div class="input">
          <input
            type="text"
            name="comuna"
            required
            formControlName="comuna"
          />
        </div>
        <p
          *ngIf="modifyClienteForm.get('comuna')?.touched && modifyClienteForm.get('comuna')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese comuna
        </p>
      </div>
      <div class="box">
        <div class="header">
          <p>Ciudad</p>
        </div>
        <div class="input">
          <input type="ciudad" name="ciudad" required formControlName="ciudad">
        </div>
        <p
          *ngIf="modifyClienteForm.get('ciudad')?.touched && modifyClienteForm.get('ciudad')?.errors?.['required']"
          class="message-error"
        >
          *Campo requerido: ingrese ciudad
        </p>
      </div>
      <div class="button-group">
        <div class="box">
          <button
          (click)="onUpdate()"
            tipe="submit"
            class="button"
            [disabled]="modifyClienteForm.invalid"
            [ngStyle]="{'color': modifyClienteForm.invalid ? 'grey' :'white'}"
          >
            Guardar
          </button>
        </div>
        <div class="box">
          <button class="button" [routerLink]="['/clientes']">Cancelar</button>
        </div>
        <div class="box delete">
          <button class="button" (click)="onDelete()">Eliminar</button>
        </div>
      </div>
    </div>
  </form>
