<app-navbar [var]="{route:'/app/home/',title:'Pendientes'}" ></app-navbar>

<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" href="/ventas/addVenta">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>

<div class="container-general">

    <div style="margin-top: 4px;" class="up">
        <mat-icon >expand_less</mat-icon>
    </div>

    <div class="container-ventas">

            <div class="item">
            	<div class="item-info"> 
            		<div class="data-info">
            			Tipo: Despacho
            		</div>
            		<div class="data-info">
            			Fecha: xx/xx/xxx
            		</div>
            	</div>
            	<div class="item-icon"> 
            		<img src="assets\page\view.svg" alt="">
            	</div>
            	<div class="item-number"> 
            		<div class="number">
            			N°1
            		</div>
            		<div class="preview">
            			<img src="assets\page\options_more_icon_208209.svg" alt="">
            		</div>         		
            	</div>
            </div>
            <div class="item">
            	<div class="item-info"> 
            		<div class="data-info">
            			Tipo: Despacho
            		</div>
            		<div class="data-info">
            			Fecha: xx/xx/xxx
            		</div>
            	</div>
            	<div class="item-icon"> 
            		<img src="assets\page\view.svg" alt="">
            	</div>
            	<div class="item-number"> 
            		<div class="number">
            			N°2
            		</div>
            		<div class="preview">
            			<img src="assets\page\options_more_icon_208209.svg" alt="">
            		</div>         		
            	</div>
            </div>
            <div class="item">
            	<div class="item-info"> 
            		<div class="data-info">
            			Tipo: Despacho
            		</div>
            		<div class="data-info">
            			Fecha: xx/xx/xxx
            		</div>
            	</div>
            	<div class="item-icon"> 
            		<img src="assets\page\view.svg" alt="">
            	</div>
            	<div class="item-number"> 
            		<div class="number">
            			N°3
            		</div>
            		<div class="preview">
            			<img src="assets\page\options_more_icon_208209.svg" alt="">
            		</div>         		
            	</div>
            </div>
            <div class="item">
            	<div class="item-info"> 
            		<div class="data-info">
            			Tipo: Despacho
            		</div>
            		<div class="data-info">
            			Fecha: xx/xx/xxx
            		</div>
            	</div>
            	<div class="item-icon"> 
            		<img src="assets\page\view.svg" alt="">
            	</div>
            	<div class="item-number"> 
            		<div class="number">
            			N°4
            		</div>
            		<div class="preview">
            			<img src="assets\page\options_more_icon_208209.svg" alt="">
            		</div>         		
            	</div>
            </div>
    </div>

    <div class="up">
        <mat-icon>expand_more</mat-icon>
    </div>

</div>
