.search{
    /* elemento barra de busqueda en fila */
    width: 100vw;
    height: 7%;
    background: #F25C05 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    flex-direction: row;
    transform: translate(0,53px);

}
.search .icon{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .icon mat-icon{
    color: white;
    font-size: 25px;
    opacity: 1;
    display: flex;
}
.search .input{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .input input{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #00000029;
    border-radius: 13px;
    opacity: 1;
    border: none;
}
.search .search-button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search .search-button mat-icon{
    color: white;
    font-size: 25px;
    opacity: 1;
}

.container-general{

    /* contenedor master */
    width: 100vw !important;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0, 53px);
    overflow: hidden;
}

.container-ventas{

    width: 100vw;
    height: 100%;
    background-color: black;
    color: white;
    opacity: 0.8;
    overflow-y: scroll;
    padding: 25px 25px 0px 25px;
    display: flex;
    flex-direction: column;
}

.item{
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width: 100%;
    height: 65px;
    margin-bottom: 10px;
    color: black;
    display: flex;
}
.item-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 10px;
}
.data-info{
    width: 100%;
    height: 50%;
}
.item-icon{
    width: 15%;
    display: flex;

}
.item-icon img{
    width: 30px;
    margin: auto;
}
.item-number{
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item-number .number{
    width: 100%;
    height: 40%;
}
.item-number .preview {
    width: 100%;
    height: 60%;
}
.item-number .preview img{
    width: 30px;
}

.up{

    height: 5%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up mat-icon{
    color: rgb(49, 49, 49);
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

