<app-navbar [var]="{route:'/app/home/',title:'Pendientes'}" ></app-navbar>

<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/pendientes/add">
            <mat-icon >add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input [(ngModel)]="this.filterListPendiente" name="filter" type="date" autocomplete="off"   style="text-align: center;">
    </div>
    <div class="search-button">
        <mat-icon (click)="search(0)">search</mat-icon>
    </div>
</div>

<div class="spiner" *ngIf="this.indicadorMuestreo == 0">
    <div style="margin:auto" class="spinner-border" role="status" >
    </div>
    <span>Cargando pendientes...</span>
</div>

<app-lista *ngIf="this.indicadorMuestreo == 1 && this.estadoDeSearch==1" [input]="{ indicador: 'pendientes', data: arrayAux }"></app-lista>
