<nav class="navbar navbar-light  fixed-top">
  
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <i class="fas fa-list"></i>
      </button>
      <a class="navbar-brand" >{{this.var.title}}</a>
      <button class="navbar-toggler" type="button"  aria-controls="offcanvasNavbar">
        <a *ngIf="this.var.route != 'null' && this.var.category == '' " routerLink="{{this.var.route}}"><img src="../../../assets/page/atras.svg"></a>
        <a *ngIf="this.var.route != 'null' && this.var.category != '' " [routerLink]="[this.var.route,this.var.category]"><img src="../../../assets/page/atras.svg"></a>

      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <a routerLink="/app"> <img src="../../../assets\page\Pisosmanriquez.logo-02.png" alt=""></a>
            <button  type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" style="color: white;" aria-current="page">Panel de control</a>
            </li>

          </ul>
          <div class="container-itemns">
            <div class="menu-items">
                <div class="menu-item-bar">
                    <a routerLink="/ventas"  style="text-decoration: none;">Ventas</a>
                </div>
                <div class="menu-item-bar">
                  <a routerLink="/productos" style="text-decoration: none;">Productos</a>
                </div>
                <div class="menu-item-bar">
                  <a routerLink="/pendientes" style="text-decoration: none;">Pendientes</a>
                </div>
                <div class="menu-item-bar">
                  <a routerLink="/estadisticas/home/finanzas" style="text-decoration: none;">Finanzas</a>

                </div>
                <div class="menu-item-bar">
                  <a routerLink="/proveedores" style="text-decoration: none;">Proveedores</a>

                </div>
                <div class="menu-item-bar">
                  <a routerLink="/clientes" style="text-decoration: none;">Clientes</a>
                </div>
                <div class="menu-item-bar">
                  <a routerLink="/auth/register" style="text-decoration: none;">Registrar</a>
                </div>
                <div (click)=logOut() class="menu-item-bar">
                  Cerrar Sesion
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container-itemns">
                <div class="menu-items">
                    <div class="menu-item-bar">
                        Ventas
                    </div>
                    <div class="menu-item-bar">
                        Productos
                    </div>
                    <div class="menu-item-bar">
                        Pendientes
                    </div>
                    <div class="menu-item-bar">
                        Finanzas
                    </div>
                    <div class="menu-item-bar">
                        Proveedores
                    </div>
                    <div class="menu-item-bar">
                        Clientes
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav> -->
