<app-navbar [var]="{route:'/productos',title:'Crear Producto'}" ></app-navbar>


<div class="container-general">
   
    <div class="left">
        <div class="input-nombre">
            <div class="nav-nombre">
                Nombre
            </div>
            <input type="text">
        </div>
    
        <div class="par-input">
           
            <div class="input-precio">
                <div class="nav-precio">
                    Precio
                </div>
                <input type="text">
            </div>
            
            <div class="input-color">
                <div class="nav-color">
                    Color
                </div>
                <input type="text">
            </div>
        </div>
    
        <div class="par-input">
           
            <div class="input-precio">
                <div class="nav-precio">
                    Stock
                </div>
                <input type="text">
            </div>
            
            <div class="input-color">
                <div class="nav-color">
                    Estado
                </div>
                <input type="text">
            </div>
        </div>
    </div>

    <div class="rigth">
        <div class="input-descripcion">
        <div class="nav-nombre">
            Descripcion
        </div>
        <textarea placeholder="ingrese descripcion" ></textarea>
    </div>

     <div class="file-input">
        <div class="nav-nombre">
            Imagen
        </div>
        <input type="file">
    </div>
    </div>   

    <button class="guardar">
        Guardar
    </button>
    <button class="cancelar">
        Cancelar
    </button>

</div>