<app-navbar [var]="{route:'/productos',title:'Crear Producto'}" ></app-navbar>


<div class="container-general">

    <div class="left">
        <div class="input-nombre">
            <div class="nav-nombre">
                Nombre
            </div>
            <input [formControl]="name" type="text">
            <p id="name-error"  *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>

        <div class="par-input">

            <div class="input-precio">
                <div class="nav-precio">
                    Precio
                </div>
                <input  [formControl]="price" value="$" type="text">
                <p  *ngIf="price.invalid && price.touched" class="input-error"><strong>* Campo requerido, solo numeros</strong> </p>
            </div>

            <div class="input-color">
                <div class="nav-color">
                    Color
                </div>
                <input [formControl]="color" type="text">
                <p  *ngIf="color.invalid && color.touched" class="input-error"><strong>* Campo requerido</strong> </p>
            </div>
        </div>

        <div class="par-input">

            <div class="input-precio">
                <div class="nav-precio">
                    Stock
                </div>
                <input [formControl]="stock" type="text">
                <p  *ngIf="stock.invalid && stock.touched" class="input-error"><strong>* Campo requerido, solo numeros</strong> </p>
            </div>

            <div class="input-color">
                <div class="nav-color">
                  Categoria
                </div>


                  <select [formControl]="category" name="categoria" class="categoria">
                    <!--utilizar ngfor  -->

                    <option value="PISOS FLOTANTESs">PISOS FLOTANTES</option>
                    <option value="PISOS MADERA">PISOS MADERA</option>
                    <option value="PISOS  VINÍLICOS">PISOS  VINÍLICOS</option>
                    <option value="PASTO SINTETICO">PASTO SINTETICO</option>
                    <option value="CERAMICOS-PORCELANATOS">CERAMICOS-PORCELANATOS</option>
                    <option value="ALFOMBRAS">ALFOMBRAS</option>
                    <option value="CORTINAS ROLLER">CORTINAS ROLLER</option>
                    <option value="PAPELES MURALES">PAPELES MURALES</option>
                  </select>
                  <p  *ngIf="category.invalid && category.touched" class="input-error"><strong>* Campo requerido</strong> </p>
            </div>
        </div>
    </div>

    <div class="rigth">
        <div class="input-descripcion">
        <div class="nav-nombre">
            Descripcion
        </div>
        <textarea [formControl]="description" placeholder="ingrese descripcion" ></textarea>
        <p style="margin-top: -4px;" *ngIf="description.invalid && description.touched" class="input-error"><strong>* Campo requerido</strong> </p>
    </div>

     <div class="file-input">
        <div class="nav-nombre">
            Imagen
        </div>
        <input type="file">
    </div>
    </div>

    <button (click)="createProduct(this.product)" [disabled]="name.invalid || price.invalid  || color.invalid || stock.invalid ||category.invalid || description.invalid" class="guardar">
        Guardar
    </button>
    <button class="cancelar">
        Cancelar
    </button>

</div>
