<app-navbar [var]="{route:'/app/home',title:'Ventas'}" ></app-navbar>
<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/ventas/addVenta">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input style="text-align: center;cursor: pointer;" [(ngModel)]="this.filterListVenta" name="filter" type="text" autocomplete="off" placeholder="Ingrese nombre del cliente">
    </div>
    <div class="search-button">
        <mat-icon style="cursor: pointer;" (click)="search(0)">search</mat-icon>
    </div>
</div>

<div class="spiner" *ngIf="this.array.length == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando pagina...</span>
</div>


<app-lista *ngIf="this.array.length !=0 && this.estadoDeSearch == 1 " [input]="{indicador:'ventas',data:arrayAux}"></app-lista>
