<app-navbar [var]="{route:'/app/home',title:'Ventas'}" ></app-navbar>
<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/ventas/addVenta">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>

<div class="spiner" *ngIf="this.array.length == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando pagina...</span>
</div>


<app-lista *ngIf="this.array.length !=0" [input]="{indicador:'ventas',data:array}"></app-lista>
