<app-navbar [var]="{route:'/app/home',title:'Ventas'}" ></app-navbar>
<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/ventas/addVenta">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>

<div class="container-general">

    <div style="margin-top: 4px;" class="up">
        <button style="background-color: transparent;
                       border: none;
        " (click)="nf_for_preview()"><mat-icon >expand_less</mat-icon></button>
    </div>

    <div class="container-ventas">

        <div class="item" *ngFor="let venta of this.segmento">
            <div class="data">
                <div class="data-item">
                    Cliente:&nbsp;Aracelly Balboa
                </div>
                <div class="data-item">
                    Cantidad: 5 productos(s)
                </div>
                <div class="data-item">
                    Estado:
                    <div *ngIf="estado=='por pagar'" class="data-item-estado-por-pagar">
                        &nbsp; por pagar
                    </div>
                    <div *ngIf="estado=='pagado'" class="data-item-estado-pagado">
                        &nbsp; pagado
                    </div>
                </div>
                <div class="data-item">
                    Envio: &nbsp;pendiente
                </div>
                <div class="data-item">
                    Total: &nbsp; $12.000
                </div>
            </div>
            <div class="left-component">
                <div class="left-component-number">
                    <h4>N°{{venta}}</h4>
                </div>
                <div class="left-component-ver-mas">
                    <a [routerLink]="['/ventas/venta/123123']"><button >
                        Ver mas+
                    </button></a>
                </div>
            </div>
        </div>

    </div>


    <div class="up">
        <button style="background-color: transparent;
                       border: none;
        " (click)="nf_for_next()"><mat-icon >expand_more</mat-icon></button>
    </div>



    <div class="container-carrusel">
        <div class="carrusel">
            <div (click)="nf_for_preview()" class="button-preview">
                <mat-icon>expand_less</mat-icon>
            </div>
            <div class="item-carrusel">
                <div class="item" *ngFor="let venta of segmento">

                    <div class="data">
                        <div class="data-item">
                            Cliente:&nbsp;Aracelly Balboa
                        </div>
                        <div class="data-item">
                            Cantidad: 5 productos(s)
                        </div>
                        <div class="data-item">
                            Estado:
                            <div *ngIf="estado=='por pagar'" class="data-item-estado-por-pagar">
                                &nbsp; por pagar
                            </div>
                            <div *ngIf="estado=='pagado'" class="data-item-estado-pagado">
                                &nbsp; pagado
                            </div>
                        </div>
                        <div class="data-item">
                            Envio: &nbsp;pendiente
                        </div>
                        <div class="data-item">
                            Total: &nbsp; $12.000
                        </div>
                    </div>
                    <div class="left-component">
                        <div class="left-component-number">
                            <h4>N°{{venta}}</h4>
                        </div>
                        <div class="left-component-ver-mas">
                            <a [routerLink]="['/ventas/venta/123123']"><button >
                                Ver mas+
                            </button></a>
                        </div>
                    </div>
                </div>

            </div>
            <div (click)="nf_for_next()" class="button-next">
                <mat-icon>expand_less</mat-icon>
            </div>
        </div>
    </div>






</div>
