.back-fondo {
  padding-top: 97px;
  width: 100vw;
  min-height: 70%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}
button {
  background-color: transparent;
  border: none;
}

img {
  top: 112px;
  left: 173px;
  width: 29px;
  height: 15px;
  opacity: 1;
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg)
  brightness(110%) contrast(110%);

}
.arrow {
  height: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(100, 100, 100, 0.002);
}

.inputs {
  margin: 0px 36px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 302px;
  height: 100%;
  margin-bottom: 25px;
}
.box:last-child {
  margin-bottom: 59px;
}
.header {
  top: 97px;
  left: 37px;
  width: 100%;
  height: 28px;
  background: #f25c05 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input input {
  width: 100%;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.8;
  outline: none;
}
p {
  top: 103px;
  left: 165px;
  height: 16px;
  font: normal normal medium 12px/16px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
textarea {
  width: 100%;
  height: 192px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.8;
  resize: none;
  outline: none;
}
.button {
  top: 498px;
  left: 37px;
  width: 302px;
  height: 32px;
  background: #f25c05 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.box .button {
  font: normal normal medium 12px/16px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}
