<div class="navbar">
    <app-navbar [var]="{route:'/proveedores/lista',title:'Añadir Proveedor'}" ></app-navbar>
</div>
<div class="back-fondo">
  <div class="inputs">
    <mat-list>
      <mat-list-item>
        <h3 matLine class="header">Nombre</h3>
        <input matLine class="input" />
      </mat-list-item>
      <mat-list-item>
        <h3 matLine class="header">Nombre de contacto</h3>
        <input matLine class="input" />
      </mat-list-item>
      <mat-list-item>
        <h3 matLine class="header">Dirección</h3>
        <input matLine class="input" />
      </mat-list-item>
      <mat-list-item>
        <h3 matLine class="header">Télefono</h3>
        <input matLine class="input" />
      </mat-list-item>
      <mat-list-item>
        <h3 matLine class="header">Atención</h3>
        <input matLine class="input" />
      </mat-list-item>
      <mat-list-item>
        <h3 matLine class="header">Correo atención</h3>
        <input matLine class="input" />
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div class="arrow">
  <mat-icon>
    <img class="invertir" src="../../../../assets/page/arriba abajo.svg" />
  </mat-icon>
</div>
