.container-general{
    width: 100vw;
    height: 90%;
    color: white;
    transform: translate(0,53px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-info{
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-cliente, .search-productos{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-icon{
    color: white;
    transform: scale(1.5);
}
button{
    background-color: transparent;
    border: none;
}

input{
    text-align: center;
}

.button-search{
    width: 22%;
    height: 100%;
    display: flex;
}
.button-search button{
    margin: auto;
}

.input-search{
    width: 78%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-search input{
    width: 75%;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #00000029;
    border-radius: 15px;
    opacity: 0.8;
}
.data-cliente-container, .productos{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.8;
}
.nav-data{
    height: 35px;
    width: 100%;
    background: #F25C05 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;

}
.data-cliente{
    width: 100%;
    height: 70%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
}
.data-cliente p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.productos-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 10px;
}
.navbar-productos{
    width: 100%;
    height: 46%;
    background: #F25C05 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.producto{
    width: 100%;
    min-height: 57px;
    background: #dcdbdb 0% 0% no-repeat padding-box;
    opacity:1;
    color: black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.data{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5%;
}
.data p{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    margin: 0;
    width: 100%; 
}
.button{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.button mat-icon{
    color: white;
}
.buttons{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.button-footer{
    width: 312px;
    height: 30%;
    background: #F25C05 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;   
}

@media screen and (min-width:550px){
    .search-cliente, .search-productos{

    }
    .input-info{
        width: 550px;
        height: 39%;
    }
    .buttons{
        height: 18%;
    }
}

@media screen and (min-width:1024px) {
    .container-general{
        flex-direction: row;
        justify-content: center;
    }
    .input-info{
        width: 360px;
        height: 100%;
    }
    #container-productos{
        transform: translateX(300px);
    }
    .search-cliente, .search-productos{
        height: 20%;
    }
    .data-cliente-container, .productos{
        width: 90%;
        height: 50%;
    }
    .buttons{
        width: 307px;
        height: 100%;
        flex-direction: row;
        transform: translateX(-370px);
    }
    .button-footer{
        width: 50%;
        height: 10%;
        align-items: center;
        margin-left: 15px;   
    }
    .navbar-productos{
        height: 15%;
    }

}