.container-general{
    width: 100vw;
    min-height: 90vh;
    color: white;
    transform: translate(0,53px);
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.spiner{
    color: white;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.spiner span{
    margin-top: 10px;
}

form{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container-info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-info2{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 0;
}
.input-info{
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.search-cliente, .search-productos, .search-proveedor{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-icon{
    color: white;
    transform: scale(1.5);
}
button{
    background-color: transparent;
    border: none;
}

input{
    text-align: center;
}
.itemAgregado input{
    font-size: 12px;
}
.button-search{
    width: 22%;
    height: 100%;
    display: flex;
}
.button-search button{
    margin: auto;
}

.input-search{
    width: 78%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-search input{
    width: 75%;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #00000029;
    border-radius: 15px;
    opacity: 0.8;
}
.data-cliente-container, .productos{
    width: 80%;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.8;
}
.servicios-list{
    width: 25%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 0.8;
    transform: translate(130%, -127%);
}

.proveedores{
  width: 80%;
  height: 72%;
  justify-content: flex-end;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.8;
}
.nav-data{
    height: 35px;
    width: 100%;
    background: #F25C05 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;

}
.data-cliente{
    width: 100%;
    height: 90%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
}
.data-cliente p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.productos-data, .proveedores-data, .servicios-data,.servicios-data{
  width: 100%;
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding: 10px;
}
.navbar-productos, .navbar-provedoores{
    width: 100%;
    height: 30px;
    background: #F25C05 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background .5s;
    cursor: pointer;
}
.navbar-productos:hover {
    background: #bf4700 0% 0% no-repeat padding-box;
    transition: background .5s;
    cursor: pointer;
}
.producto,.servicio-one{
    width: 100%;
    min-height: 57px;
    background: #dcdbdb 0% 0% no-repeat padding-box;
    opacity:1;
    color: black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.proveedor{
  width: 100%;
  min-height: 57px;
  background: #dcdbdb 0% 0% no-repeat padding-box;
  opacity:1;
  color: black;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data{
    display: flex;
    flex-direction: column;
    width: 500%;
    margin-left: 5%;
}
.data p{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    margin: 0;
    width: 100%;
}
.button{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.button mat-icon{
    color: white;
}
.servicios{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.servicios_input{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
strong{
    margin-bottom: 5px;
}
.name-service, .value-service{
    border-radius: 20px;
    border:none
}
.name-service{
    width: 70%;
}

.add-service{
    width: 45%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-service button{
    width: 200px;
    border-radius: 20px;
    border:none;
    background-color: #F25C05;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.utilidad{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}
.utilidad input{
    width: 25%;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.button-footer{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-footer button{
    width: 70%;
    height: 55%;
    background: #F25C05 0% 0% no-repeat padding-box;
    border-radius: 16px;
    opacity: 1;
}

.slide{
    width: 100vw;
    height: 91.7vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(0,53px);
}
.button{
    width: 90vw;
    display: flex;
    justify-content: right;
}


.listadoAgregado{
    background-color: black;
    opacity: 0.9;
    width: 310px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.itemAgregado{
    background-color: white;
    width: 90%;
    min-height: 100px;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.itemAgregado input{
    width: 40px;
    text-align: center;
}

.dataProduct{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.data-line{
    display: flex;
    flex-direction: row;
}
.data-line p{
    font-size: 12px;
}
.itemAgregado button mat-icon{
    color: black;
    font-size: 20px;
}

@media screen and (min-width:425px){
    .button-footer button{
        width: 330px;
    }
    .listadoAgregado{
        width: 410px;
    }
    .name-service{
        width: 300px;
    }
    .value-service{
        width: 170px;
    }
    .add-service button{
        width: 210px;
    }
    .utilidad input{
        width: 110px;
    }

}

@media screen and (min-width:550px){
    form{
        width: 550px;
    }
    .listadoAgregado{
        width: 500px;
    }
    .button-footer{
        height: 65px;
    }
}

@media screen and (min-width:1024px) {
    form{
        width: 975px;
        align-items: center;
    }
    .container-info{
        width: 100%;
        flex-direction: row;
        margin-top: 25px;
    }
    .input-info{
        height: 300px;
    }
    .productos-data, .proveedores-data{
        height: 190px;
    }
    .producto .data, .proveedor .data{
        width: 90%;
    }
    .producto .button, .proveedor .button{
        width: 10%;
    }
    .name-service{
        width: 350px;
    }
    .value-service{
        width: 180px;
    }
    .buttons{
        width: 70%;
        flex-direction: row;
    }
    .button-footer{

    }
    .button-footer button{
        width: 80%;
    }
}
@media screen and (min-width:1200px){

}
