<app-navbar [var]="{route:'/ventas',title:'Agregar nueva venta'}" ></app-navbar>

<div class="spiner" *ngIf="this.marcadorListaProducto == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando clientes...</span>
</div>

 <div class="container-general" *ngIf="this.marcadorListaProducto == 1 && this.container==0" >
    <form>
        <div class="container-info">
            <div class="input-info">
                <div class="search-cliente">
                    <div class="button-search">
                        <button (click)="searchCliente(this.rut)">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    <div class="input-search">
                        <input [(ngModel)]="this.rut" name="rut" type="text" placeholder="Ingrese el rut del cliente" autocomplete="off">
                    </div>
                </div>

                <!-- clase importante -->
                <div class="data-cliente-container">
                    <div class="nav-data" *ngIf="this.cliente.nombre!=''">
                        Cliente: {{this.cliente.nombre}}
                    </div>
                    <div class="data-cliente" *ngIf="this.cliente.nombre!=''">
                        <p> <b>Direccion:</b> &nbsp; {{this.cliente.direccion}} </p>
                        <p> <b>Telefono:</b>&nbsp; {{this.cliente.telefono}} </p>
                        <p><b>Correo:</b>&nbsp; {{this.cliente.correo}} </p>
                        <p><b>Rut:</b> &nbsp;{{this.cliente.rut}}</p>
                    </div>
                    <h1 style="color:black; font-size: 20px; margin: auto; text-align: center;" *ngIf="this.cliente.nombre=='' && this.buscado == 0">Ingrese el rut del cliente para mostrar informacion</h1>
                    <h1 style="color:black; font-size: 20px; margin: auto; text-align: center" *ngIf="this.cliente.nombre=='' && this.buscado == 1">El usuario no fue encontrado</h1>
                    <a *ngIf="this.cliente.nombre=='' && this.buscado == 1" style="color:black; font-size: 15px; margin: auto;" [routerLink]="['/clientes/add/cliente']">Haz click aqui para agregar uno nuevo!</a>
                </div>
            </div>

            <div class="input-info">
                <div class="search-productos">
                    <div class="button-search">
                        <button>
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    <div class="input-search">
                        <input [(ngModel)]="this.filtroProduct" name="filtroProducto" type="text" placeholder="Buscar Producto" autocomplete="off" >
                    </div>
                </div>
                <div class="productos">
                   <div class="productos-data">
                        <div class="producto" *ngFor="let product of listaProductos | filter:this.filtroProduct">
                            <div class="data">
                                <p><b>Nombre: </b> &nbsp;{{product.nombre}} </p>
                                <p><b>Valor: </b>&nbsp; ${{product.valor}} </p>
                            </div>
                            <div class="button">

                                <div class="add">
                                    <button (click)="methodsAdd(product)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                   <div (click)=" verProducto(1)" class="navbar-productos">
                        Ver productos
                   </div>
                </div>
            </div>
            <div class="input-info">
                <div class="search-proveedor">
                    <div class="button-search">
                      <button >
                          <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <div class="input-search">
                      <input [(ngModel)]="this.filtroProveedor" name="filtroProveedor" type="text" placeholder=" Ingrese el nombre del proveedor" autocomplete="off">
                    </div>
                </div>
                <div class="proveedores">
                    <div class="proveedores-data">
                        <div class="proveedor" *ngFor="let proveedor of listaProveedores | filterProveedores:this.filtroProveedor">
                            <div class="data">
                             <p *ngIf="this.listaProveedores.length == 0">Cargando proveedores... </p>
                             <p> <b>Nombre: </b> &nbsp;{{proveedor.nombre}} </p>
                             <p> <b>Rut: </b>&nbsp; {{proveedor.rut}} </p>
                            </div>
                            <div class="button">
                                <div class="add">
                                    <button (click)="proveedorSelected(proveedor)" (click)="changeColor(this.icoColor)">
                                        <mat-icon [ngStyle]="{'color':this.icoColor}" id="mat-icon">add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-info2">

            <div class="servicios">
                <h3>Ingrese servicios si es necesario</h3>
                <div class="servicios_input">
                    <strong>Ingrese nombre del servicio</strong>
                    <input class="name-service" [(ngModel)]="this.newServicio.nombre" name="nombre" type="text" placeholder="nombre del servicio ">
                </div>
                <div class="servicios_input">
                    <strong>Ingrese valor del servicio</strong>
                    <input class="value-service"[(ngModel)]="this.newServicio.valor" name="valor"  type="number" placeholder="valor del servicio ">
                </div>
                <div class="add-service">
                    <button (click)="this.addServicio(this.newServicio.nombre,this.newServicio.valor)">Agregar Servicio</button>
                
                </div> 
                
                    <!-- <div  class="servicios-list">
                        <div class="servicios-data">
                        <div class="servicio-one">
                            <div class="data">
                                <p><b>Nombre: </b> &nbsp; </p>
                                <p><b>Valor: </b>&nbsp; </p>
                            </div>
                            <div class="button">

                                <div class="add">
                                    <button>
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> -->
            
                <div class="utilidad">
                    <label style="margin: 10px;" for="">Porcentaje de utilidad de la compra</label>
                    <input [(ngModel)]="this.venta.porcentaje" name="utilidad" type="number" placeholder="ingrese utilidad!" value="none">
                </div>
                
                <div class="buttons">
                    <div class="button-footer">
                        <button (click)=" crearVenta()" style="color: white;">
                            Crear venta
                        </button>
                    </div>
                    <div class="button-footer">
                        <button style="color: white;">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </form>
    
</div>

<div class="slide" *ngIf="this.container == 1">
    <div class="button">
        <button (click)="verProducto(0)">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="listadoAgregado">

        <div class="itemAgregado" *ngFor="let product of this.listaProductosEnLista">

            <div class="dataProduct">

                <div class="data-line">
                    <b>Nombre: </b> <p>{{product.nombre}}</p>
                </div>
                <div class="data-line">
                    <b>Valor: </b> <p>{{product.valor}}</p>
                </div>

            </div>
            <button (click)="eliminarOfLista(product)">
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="deleteCantidad(product)">
                <mat-icon>remove</mat-icon>
            </button>
            <input type="number" disabled value={{product.cantidad}}>
            <button (click)="addCantidad(product)">
                <mat-icon>add</mat-icon>
            </button>


        </div>

    </div>


</div>
