<app-navbar [var]="{route:'/clientes',title:'Venta Cliente'}" ></app-navbar>


<div class="search">
    <div class="icon">
      
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>


<div class="spiner" *ngIf="this.array.length == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando datos ...</span>
</div>

<div class="container-general" *ngIf="this.array.length != 0">
    <div class="container">
        <div class="data-cliente">
            <div class="nav-data">
                Aracelly Balboa
            </div>
            <div class="data">
                <div class="nav-data-line">
                    <!-- <b>Rut: </b> <p>&nbsp;Aracelly Balboa</p> -->
                    <b>Rut: </b> <p>&nbsp;{{cliente.nombre}}</p>
                </div>
                <div class="nav-data-line">
                    <!-- <b>Direccion: </b> <p>&nbsp;Santa margarita 1157 Villa alemana</p> -->
                    <b>Direccion: </b> <p>&nbsp;{{cliente.direccion}}</p>
                </div>
                <div class="nav-data-line">
                    <!-- <b>Telefono: </b> <p>&nbsp;945876907</p> -->
                    <b>Telefono: </b> <p>&nbsp;{{cliente.telefono}}</p>
                </div>
                <div class="nav-data-line">
                    <!-- <b>Correo: </b> <p>&nbsp;marcelo.estay@alumnos.uv.cl</p> -->
                    <b>Correo: </b> <p>&nbsp;{{cliente.correo}}</p>
                    <button style="border: none; background-color: transparent;"> <mat-icon>delete</mat-icon></button>

                </div>
            </div>
        </div>
    
        <div   style="margin-top: 4px;" class="up1"> 
            <mat-icon (click)=" nf_for_preview()" >expand_less</mat-icon>
        </div>
    
        <div class="item-list" >
            <div class="item" *ngFor="let ventas of this.segmento">
                <div class="data">
                    <div class="data-line">
                        <!-- <b>Fecha: </b> <p>&nbsp;XX/XX/XXXX</p> -->
                        <b>Fecha: </b> <p>&nbsp;{{ventas.fecha| date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="data-line">
                        <!-- <b>Valor: </b> <p>&nbsp;$156.000</p> -->
                        <b>Valor: </b> <p>&nbsp;{{ventas.totalDeVenta}}</p>
                    </div>
                </div>
                <div class="buttons">
                <mat-icon class="eye" >  <a style="text-decoration: none; color: black;" [routerLink]="['/clientes/cliente/venta/'+ventas._id]">visibility</a> </mat-icon>
                   <mat-icon class="more">more_horiz</mat-icon>
                    <div class="data-line">
                        <b>N°</b> <p>&nbsp;{{this.array.indexOf(ventas)+1}}</p>
                    </div>
                </div>
                
            </div>
        </div>
        <div  style="margin-top: 4px;" class="up2"> 
           <mat-icon (click)=" nf_for_next()" >expand_more</mat-icon>
        </div>
    </div>
</div>
