<div class="principal">
	<div class="category-container">
		<div class="title">
			Nombre de Categoría
		</div>
		<div class="Form">
			<form>
				<div class="Input">
					<input [(ngModel)]="this.newCategoria.nombre" type="" name="categoria">
				</div>
				<div class="buttons">
					<div class="butt-save">
						<button (click)="addCategoria()">Guardar</button>
					</div>
					<div class="butt-cancel">
						<button><a style="text-decoration: none; color: #fff" [routerLink]="['/productos/category']">Cancelar</a></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
