<app-navbar [var]="{ route: '/app/home', title: 'Proveedores' }"></app-navbar>
<div class="search">
  <div class="icon">
    <a style="text-decoration: none" routerLink="/proveedores/new">
      <mat-icon>add_circle_outline</mat-icon>
    </a>
  </div>
  <div class="input">
    <input type="text" />
  </div>
  <div class="search-button">
    <mat-icon>search</mat-icon>
  </div>
</div>
<div class="spiner" *ngIf="this.array.length == 0">
  <div  class="spinner-border" role="status" >
  </div>
  <span>Cargando productos ...</span>
</div>
<app-lista [input]="{ indicador: 'proveedores', data: array }"></app-lista>
