/* You can add global styles to this file, and also import other style files */
html,body{
	margin:0;
	padding: 0;
}

html {
	background-image: url("assets/page/bkgr.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

@media screen and (min-width: 560px){
	html{
		background-image: url("assets/page/bkgr_rotate.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
