/* You can add global styles to this file, and also import other style files */
.principal {
	background-image: url("assets/page/bkgr_login.png");
	background-repeat: no-repeat;
	background-size: cover;
}