<app-navbar [var]="{route:'/app/home/',title:'Categorias de productos'}" ></app-navbar>

<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" routerLink="/productos/add-category">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>
<app-lista [input]="{indicador:'cat-products',data:array}"></app-lista>
