<app-navbar [var]="{route:'/app/home/',title:'Categorias'}" ></app-navbar>

<div class="search">
    <div class="icon">
        <a style="text-decoration: none;" href="/productos/add-category">
            <mat-icon>add_circle_outline</mat-icon>
        </a>
    </div>
    <div class="input">
        <input type="text">
    </div>
    <div class="search-button">
        <mat-icon>search</mat-icon>
    </div>
</div>

<div class="container-general">

    <div class="up">
        <mat-icon >expand_less</mat-icon>
    </div>

    <div class="container-ventas">

        <div class="item">
        	<div class="item-view">
        		<div class="preview">
        			<button class="preview-button">
                    	<a style="text-decoration: none; color: black;" [routerLink]="['/productos/products-category']"><img src="assets\page\view.svg" alt=""></a>
                	</button>
        		</div>
                <div class="more">
                    <button class="more-button">
                        <img src="assets\page\options_more_icon_208209.svg" alt="">
                    </button>
                </div> 
        	</div>
        	<div class="item-info"> 
        		<div class="data-info">
        			Pisos Flotantes
        		</div>
        	</div>
        	<div class="item-edit">
        		<button>
        			<img src="assets\page\modificar icon.svg" alt="">
        		</button>
        	</div>
        </div>
        <div class="item">
        	<div class="item-view">
        		<div class="preview">
        			<button class="preview-button">
                    	<a style="text-decoration: none; color: black;" [routerLink]="['/productos/products-category']"><img src="assets\page\view.svg" alt=""></a>
                	</button>
        		</div>
                <div class="more">
                    <button class="more-button">
                        <img src="assets\page\options_more_icon_208209.svg" alt="">
                    </button>
                </div> 
        	</div>
        	<div class="item-info"> 
        		<div class="data-info">
        			Guarda Polvos
        		</div>
        	</div>
        	<div class="item-edit">
        		<button>
        			<img src="assets\page\modificar icon.svg" alt="">
        		</button>
        	</div>
        </div>
        <div class="item">
        	<div class="item-view">
        		<div class="preview">
        			<button class="preview-button">
                    	<a style="text-decoration: none; color: black;" [routerLink]="['/productos/products-category']"><img src="assets\page\view.svg" alt=""></a>
                	</button>
        		</div>
                <div class="more">
                    <button class="more-button">
                        <img src="assets\page\options_more_icon_208209.svg" alt="">
                    </button>
                </div> 
        	</div>
        	<div class="item-info"> 
        		<div class="data-info">
        			Cerámicas
        		</div>
        	</div>
        	<div class="item-edit">
        		<button>
        			<img src="assets\page\modificar icon.svg" alt="">
        		</button>
        	</div>
        </div>
        <div class="item">
        	<div class="item-view">
        		<div class="preview">
        			<button class="preview-button">
                    	<a style="text-decoration: none; color: black;" [routerLink]="['/productos/products-category']"><img src="assets\page\view.svg" alt=""></a>
                	</button>
        		</div>
                <div class="more">
                    <button class="more-button">
                        <img src="assets\page\options_more_icon_208209.svg" alt="">
                    </button>
                </div> 
        	</div>
        	<div class="item-info"> 
        		<div class="data-info">
        			Cortinas
        		</div>
        	</div>
        	<div class="item-edit">
        		<button>
        			<img src="assets\page\modificar icon.svg" alt="">
        		</button>
        	</div>
        </div>     
    </div>

    <div class="up">
        <mat-icon>expand_more</mat-icon>
    </div>

</div>
