<div class="container-general">

    <div class="data">
        <!-- boton de arriba -->

        <button class="up" (click)="nf_for_preview()">
            <mat-icon>expand_less</mat-icon>
        </button>


        <!-- esta es la data completa -->
        <div class="lista">

            <!-- cada item de la lista -->
            <div class="item6" *ngFor="let item of this.segmento">
                <!-- clientes -->
                <div class="clientes" *ngIf="this.input.indicador == 'clientes' || this.input.indicador == 'proveedores' || this.input.indicador == 'pendientes'">
                    <div class="item-data">
                        <!-- cliente -->
                        <div class="data-line" *ngIf="this.input.indicador == 'clientes'">
                            <b>Cliente:</b> <p>&nbsp;nombre del cliente</p>
                        </div>
                        <div class="data-line" *ngIf="this.input.indicador == 'clientes'">
                            <b>Rut: </b> <p>&nbsp;XX.XXX.XXX-X</p>
                        </div>
                        <!-- proveedor -->
                        <div class="data-line" *ngIf="this.input.indicador == 'proveedores'">
                            <b>Nombre:</b> <p>&nbsp;Juan Larenas</p>
                        </div>
                        <div class="data-line" *ngIf="this.input.indicador == 'proveedores'">
                            <b>Rut: </b> <p>&nbsp;XX.XXX.XXX-X</p>
                        </div>
                        <!-- pendiente-->
                        <div class="data-line" *ngIf="this.input.indicador == 'pendientes'">
                            <b>Tipo de pendiente:</b> <p>&nbsp;Despacho</p>
                        </div>
                        <div class="data-line" *ngIf="this.input.indicador == 'pendientes'">
                            <b>Fecha: </b> <p>&nbsp;XX/XX/XXXXX</p>
                        </div>
                    </div>
                    <!-- cliente o pendiente-->
                    <div class="item-eye" *ngIf="this.input.indicador == 'clientes' || this.input.indicador == 'pendientes'">
                        <button class="view">
                            <a style="text-decoration: none; color: black;"><img src="assets\page\view.svg" alt=""></a>
                        </button>
                    </div>
                    <!-- proveedor-->
                    <div class="item-book" *ngIf="this.input.indicador == 'proveedores'">
                        <button class="view">
                            <a style="text-decoration: none; color: black;"><img src="../../../../assets/page/proveedor 2.svg" alt="" /></a>
                        </button>
                    </div>
                    <!-- cliente, proovedor o pendiente-->
                    <div class="item-number">
                        <div class="number">
                            <b>N°</b> <b>{{item}}</b>
                        </div>
                        <div class="more">
                            <button class="more-button">
                                <img src="assets\page\options_more_icon_208209.svg" alt="">
                            </button>
                        </div>
                    </div>               
                </div>             
            </div>
            <div class="item4">

            </div>
        </div>

        <!-- boton de abajo -->
        <button class="up" (click)="nf_for_next()">
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>


</div>
