.container-general{
    width: 100vw;
    height: 84.3% ;
    transform: translate(0, 53px);
    display: flex;
}
.data{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F25C05 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    opacity: 0.2;
}
.up mat-icon{
    color: rgb(49, 49, 49);
    height: 100%;
    width: 50%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.up:hover{
    background: #F25C05 0% 0% no-repeat padding-box;
    opacity: 0.8;
}
.up:hover > mat-icon{
    color: #FFFFFF;
}

.lista{ 
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(auto-fill, minmax(50px, 22%));
    grid-row-gap: 10px;
    align-content: center;
    justify-items: center;
    padding: 15px 0 15px 0;
    opacity: 0.8;
}

.item{
    width: 85%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029;
    display: flex;
}
/* CLIENTES Y PENDIENTES **************************************************************************/
.CPP{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-data{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-line{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    font-size: 80%;
}
.item-eye{
    width: 15%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.view{
    width: 35px;
    height: 55%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
}
.view a{
    width: 25px;
    align-self: center;
}
.item-number{
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item-number .number{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
.item-number .more {
    width: 100%;
    height: 60%;
}
.more-button{
    border: none;
    background-color: transparent;
}
.more-button img{
    width: 30px;
}

@media screen and (min-width: 1024px){
    .data-line, .number{
        font-size: 120%;
    }
    .container-general{
        height: 79%;
    }
    .data{
        max-width: 1000px;
        height: 80%;
        flex-direction: row;
        align-items: center;
        margin: auto;
        margin-top: 5%;
    }
    .up{
        margin-top: 0;
        height: 490px;
        width: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .up mat-icon{
        height: 10%;
        width: 0;
        background: #F25C05 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 0.2;
        transform: rotate(-90deg);
    }
    .lista{
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 50%));
        grid-template-rows: auto;
        grid-row-gap: 12px;
        grid-column-gap: 20px;
        background-color: transparent;
        margin: 0 25px 0 25px;
    }
    .item{
        width: 100%;
        height: 155px;
    }
    .item-data{
        width: 80%;
        padding: 0;
        justify-content: center;
        align-items: flex-end;
    }
    .data-line{
        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
    }
    .item-eye{
        width: 10%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
    .view {
        height: 25px;
        transform: translate(-20px, -16px);
    }
    .item-number{
        width: 10%;
        height: 100%;
    }
    .item-number .number{
        width: 100%;
        height: 50%;
        justify-content: flex-start;
        margin-top: 10px;
    }
    .item-number .more {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .more-button {
        transform: translate(-20px, -10px);
    }
    .more-button img{
        width: 35px;
    }
}
/* PROVEEDORES *****************************************************************************/
.item-book{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.edit{
    width: 30px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}
.edit a , .edit img{
    width: 27px; 
}

@media screen and (min-width: 1024px) {
    .item-book{
        width: 10%;
        height: 100%;
    }
    .edit {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        transform: translate(-290px, -2px);
    }
    .edit a , .edit img{
        width: 45px; 
    }
}

/* CAT-PRODUCTS, PRODUCTS, LISTA-COMPRA, VENTAS ************************************************/
.CPLV{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* CAT-PRODUCTS ************************************************************************/
.item-view{
    width: 30%;
    height: 80%;
    display: flex;
    padding-left: 5%;
}
.item-view div{
    width: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.preview-button{
    background-color: transparent;
    border: none;
}
.preview-button a img{
    width: 25px;
}
.mas-button{
    background-color: transparent;
    border: none;
}
.mas-button img{
    width: 25px;
}

.item-info{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data-info{
    font-weight: bold;
}

.item-edit{
    width: 20%;
    height: 60%;
    display: flex;
    align-self: flex-start;
}
.item-edit button{
    width: 35px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin: auto;
}
.item-edit button img{
    width: 25px;
}

@media screen and (min-width: 1024px){
    .item-view{
        width: 20%;
    }
    .item-view div{
        width: 50px;
    }
    .preview-button a img{
        width: 35px;
    }
    .mas-button{
        transform: translateX(285px);
    }
    .mas-button img{
        width: 35px;
    }

    .item-info{
        width: 60%;
        text-align: center;
    }
    .data-info{
        font-size: 120%;
    }

    .item-edit{
        width: 20%;
        justify-content: center;
        padding-top: 2%;
    }
    .item-edit button{
        width: 45px;
        height: 40px;
    }
    .item-edit button img{
        width: 30px;
    }  
}

/* PRODUCTS ****************************************************************************/

.item-data2{
    width: 64%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.data-line2{
    width: 80%;
    height: 19%;
    display: flex;
    justify-content: flex-start;
    font-size: 80%;
}

.item-eye2{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.view2{
    width: 38px;
    background-color: transparent;
    border: none;
}
.view2 a{
    width: 25px;
    align-self: center;
}
.item-number2{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.item-number2 .number2{
    width: 100%;
    height: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-number2 .more2 {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.more2 .more-button2{
    border: none;
    background-color: transparent;
}
.more2 .more-button2 img{
    width: 30px;
}

@media screen and (min-width: 1024px){
    .data-line2{
        font-size: 100%;
        height: 16%;
    }
    .item-number2 .number2{
        justify-content: flex-end;
    }

    .item-number2 .more2 {
        height: 26%;
        justify-content: flex-start;
        align-items: flex-end;
    }
}
/* VENTAS ****************************************************************************/

.item-eye2 .view-more{
    width: 87px;
    height: 27px;
    background: #F25C05 0% 0% no-repeat padding-box;
    border-radius: 14px;
    border: none;
    transform: translateY(35%);
}

@media screen and (min-width: 1024px){
    .item-eye2 .view-more{
        width: 115px;
        height: 35px;
        border-radius: 27px;
    }
}