<div class="container-general">

    <div class="data">
        <!-- boton de arriba -->

        <button class="up" (click)="nf_for_preview()">
            <mat-icon>expand_less</mat-icon>
        </button>


        <!-- esta es la data completa -->
        <div class="lista">
            <div class="item" *ngFor="let item of this.segmento">
                <!-- clientes, proveedores, pendientes-->
                <div class="CPP" *ngIf="this.limitador == 6">
                    <div class="item-data">
                        <!-- cliente -->
                        <div class="data-line" *ngIf="this.input.indicador == 'clientes'">
                            <b>Cliente:</b> <p>&nbsp;nombre del cliente</p>
                        </div>
                        <div class="data-line" *ngIf="this.input.indicador == 'clientes'">
                            <b>Rut: </b> <p>&nbsp;XX.XXX.XXX-X</p>
                        </div>
                        <!-- proveedor -->
                        <div class="data-line" *ngIf="this.input.indicador == 'proveedores'">
                            <b>Nombre:</b> <p>&nbsp;Juan Larenas</p>
                        </div>
                        <div class="data-line" *ngIf="this.input.indicador == 'proveedores'">
                            <b>Rut: </b> <p>&nbsp;XX.XXX.XXX-X</p>
                        </div>
                        <!-- pendiente-->
                        <div class="data-line" *ngIf="this.input.indicador == 'pendientes'">
                            <b>Tipo de pendiente:</b> <p>&nbsp;Despacho</p>
                        </div>
                        <div class="data-line" *ngIf="this.input.indicador == 'pendientes'">
                            <b>Fecha: </b> <p>&nbsp;XX/XX/XXXXX</p>
                        </div>
                    </div>
                    <!-- cliente o pendiente-->
                    <div class="item-eye" *ngIf="this.input.indicador == 'clientes' || this.input.indicador == 'pendientes'">
                        <button class="view">
                            <a style="text-decoration: none; color: black;"><img src="assets\page\view.svg" alt=""></a>
                        </button>
                    </div>
                    <!-- proveedor-->
                    <div class="item-book" *ngIf="this.input.indicador == 'proveedores'">
                        <button class="edit">
                            <a style="text-decoration: none; color: black;"><img src="../../../../assets/page/proveedor 2.svg" alt="" /></a>
                        </button>
                    </div>
                    <!-- cliente, proovedor o pendiente-->
                    <div class="item-number">
                        <div class="number">
                            <b>N°</b> <b>{{item}}</b>
                        </div>
                        <div class="more">
                            <button class="more-button">
                                <img src="assets\page\options_more_icon_208209.svg" alt="">
                            </button>
                        </div>
                    </div>               
                </div>
                <!-- category-productos, productos, list-compra, ventas-->
                <div class="CPLV" *ngIf="this.limitador == 4">
                    <!-- category-productos-->
                    <div class="item-view"  *ngIf="this.input.indicador == 'cat-products'">
                        <div class="preview">
                            <button class="preview-button">
                                <a style="text-decoration: none; color: black;" [routerLink]="['/productos/products-category']"><img src="assets\page\view.svg" alt=""></a>
                            </button>
                        </div>
                        <div class="mas">
                            <button class="mas-button">
                                <img src="assets\page\options_more_icon_208209.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="item-info"  *ngIf="this.input.indicador == 'cat-products'">
                        <div class="data-info">
                            Pisos Flotantes
                        </div>
                    </div>
                    <div class="item-edit"  *ngIf="this.input.indicador == 'cat-products'">
                        <button>
                            <img src="assets\page\modificar icon.svg" alt="">
                        </button>
                    </div>
                    <!--products-->
                    <div class="item-data2" *ngIf="this.input.indicador == 'products'">
                        <div class="data-line2">
                            <b>Nombre:</b>&nbsp;Polera Nike blanca
                        </div>
                        <div class="data-line2">
                            <b>Talla:</b>&nbsp;Estandar
                        </div>
                        <div class="data-line2">
                            <b>Stock:</b>&nbsp;18
                        </div>
                        <div class="data-line2">
                            <b>Precio:</b>&nbsp;$15.000
                        </div>
                        <div class="data-line2">
                            <b>Vendidos:</b>&nbsp;9
                        </div>
                    </div>
                    <div class="item-eye2" *ngIf="this.input.indicador == 'products'">
                        <button class="view2">
                            <a style="text-decoration: none; color: black;"[routerLink]="['/productos/detail/',123]"><img src="assets\page\view.svg" alt=""></a>
                        </button>
                    </div>
                    <div class="item-number2" *ngIf="this.input.indicador == 'products'">
                        <div class="number2">
                            <b>N°</b> <b>{{item}}</b>
                        </div>
                        <div class="more2">
                            <button class="more-button2">
                                <img src="assets\page\options_more_icon_208209.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>           
            </div>

        </div>

        <!-- boton de abajo -->
        <button class="up" (click)="nf_for_next()">
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>


</div>
