<app-navbar [var]="{route:'/pendientes',title:'Preview Pendiente'}" ></app-navbar>


<div class="spiner" *ngIf="this.newPendiente.fecha == 0">
    <div  class="spinner-border" role="status" >
    </div>
    <span>Cargando datos del pendiente...</span>
</div>


<div class="principal">
	<div class="preview-container" *ngIf="this.newPendiente.fecha != 0">
		<div class="title">
			Previsualización
		</div>
		<div class="description">	
			<div class="data">
				Tipo de pendiente: {{newPendiente.tipo}}
			</div>
			<div class="data">
				Fecha: {{newPendiente.fecha|date:'longDate'}}
			</div>
		</div>
		<div class="obs">
			<div class="data">
				Observación: {{newPendiente.observacion}}
			</div>
		</div>
		<div [routerLink]="['/pendientes']" class="goBack-button">
			<button>
				<a style="text-decoration: none; color: white;">Volver</a>
			</button>
		</div>
	</div>
</div>