<app-navbar [var]="{route:'/productos/category',title:'Productos'}" ></app-navbar>
<div class="container-general">
	<div class="detail-container">
		<form>
			<div class="data-container">
				<div class="BOX-1">
					<div class="name-box">
						<div class="name">Nombre</div>
						<div class="data">&nbsp;Piso Flotante</div>
					</div>
					<div class="properties-box">
						<div class="data-propertie">
							<div class="type">Precio</div>
							<div class="data">&nbsp;17.984</div>
						</div>
						<div class="data-propertie">
							<div class="type">Color</div>
							<div class="data">&nbsp;Roble</div>
						</div>
						<div class="data-propertie">
							<div class="type">Stock</div>
							<div class="data">&nbsp;60</div>
						</div>
						<div class="data-propertie">
							<div class="type">Estado</div>
							<div class="data">&nbsp;Hablitado</div>
						</div>
					</div>
				</div>
				<div class="BOX-2">
					<div class="description-box">
						<div class="description">Descripción</div>
						<div class="data-info">&nbsp;chelo selacome</div>
					</div>
					<div class="IMG">
						&nbsp;IMG
						<img src="">
					</div>
				</div>		
			</div>
			<div class="buttons">
				<div class="butt-save">
					<button><a href="" style="text-decoration:none;">Guardar</a></button>
				</div>
				<div class="butt-cancel">
					<button><a href="" style="text-decoration:none;">Cancelar</a></button>
				</div>
			</div>
		</form>
	</div>
</div>