<app-navbar [var]="{route:'/clientes/clientes',title:'Añadir cliente'}" ></app-navbar>


<div class="container-general">
    <!-- contenedor master -->

    <div class="form-class">
        <!-- este guarda los inputs -->


        <!-- input nuevo -->

        <div class="form-input">
            <div class="form-input-nav">
                Nombre
            </div>
            <input [formControl]="name" [(ngModel)]="this.clienteDefault.nombre" type="text">
            <p style="margin-top: 50px;" *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>

        <!-- input nuevo -->

        <div class="form-input">
            <div class="form-input-nav">
                Dirección
            </div>
            <input [formControl]="direction" [(ngModel)]="this.clienteDefault.direccion" type="text">
            <p style="margin-top: 50px;" *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>

        <!-- input nuevo -->

        <div class="form-input">

            <div class="form-input-nav">
                Teléfono
            </div>
            <input [formControl]="phone" [(ngModel)]="this.clienteDefault.telefono" type="text">
            <p style="margin-top: 50px;" *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>

        <!-- input nuevo -->
        <div class="form-input">
            <div class="form-input-nav">
                Correo
            </div>
            <input [formControl]="email" [(ngModel)]="this.clienteDefault.correo" type="text">
            <p style="margin-top: 50px;" *ngIf="email.invalid && email.touched" class="input-error"><strong>* Campo requerido</strong> ej: nombre@mail.com </p>
        </div>

        <!-- input nuevo -->

        <div class="form-input">
          <div class="form-input-nav">
              Comuna
          </div>
          <input [formControl]="comuna" [(ngModel)]="this.clienteDefault.comuna" type="text">
          <p style="margin-top: 50px;" *ngIf="comuna.invalid && comuna.touched" class="input-error"><strong>* Campo requerido</strong></p>
        </div>

        <div class="form-input">
          <div class="form-input-nav">
              Ciudad
          </div>
          <input [formControl]="ciudad" [(ngModel)]="this.clienteDefault.ciudad" type="text">
          <p style="margin-top: 50px;" *ngIf="ciudad.invalid && ciudad.touched" class="input-error"><strong>* Campo requerido</strong></p>
        </div>

        <div class="form-input">
            <div class="form-input-nav">
                Rut
            </div>
            <input [formControl]="rut" [(ngModel)]="this.clienteDefault.rut" type="text">
            <p style="margin-top: 50px;" *ngIf="rut.invalid && rut.touched" class="input-error"><strong>* Campo requerido</strong> ej: 12345678-1 </p>
        </div>



        <div class="buttons">
            <button (click)="this.add_cliente()"   class="guardar">
                Guardar
            </button>
            <button (click)="this.renew()" class="cancelar">
                Cancelar
            </button>
        </div>



    </div>





    <!-- fin contenedor form -->
</div>

<div class="form-grande">
    <div style="margin-top: 50px;" class="line-container">
        <div class="input" style="margin-right: 90px;">
            <div class="nav">
                Nombre
            </div>
            <input [formControl]="name" [(ngModel)]="this.clienteDefault.nombre" type="text">
            <p style="margin-top: 112px;" *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>
        <div class="input">
            <div class="nav">
                Direccion
            </div>
            <input [formControl]="direction" [(ngModel)]="this.clienteDefault.direccion" type="text">
            <p style="margin-top: 112px;" *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>
    </div>
    <div style="margin-top: 64px;" class="line-container">
        <div class="input" style="margin-right: 90px;">
            <div class="nav">
                Teléfono
            </div>
            <input [formControl]="phone" [(ngModel)]="this.clienteDefault.telefono" type="text">
            <p style="margin-top: 112px;" *ngIf="name.invalid && name.touched" class="input-error"><strong>* Campo requerido</strong> </p>
        </div>
        <div class="input">
            <div class="nav">
                Correo
            </div>
            <input [formControl]="email" [(ngModel)]="this.clienteDefault.correo" type="text">
            <p style="margin-top: 112px;" *ngIf="email.invalid && email.touched" class="input-error"><strong>* Campo requerido</strong> ej: nombre@mail.com </p>
        </div>
    </div>
    <div style="margin-top: 64px;" class="line-container">
         <div class="input">
            <div class="nav">
                Comuna
            </div>
            <input [formControl]="comuna" [(ngModel)]="this.clienteDefault.comuna" type="text">
            <p style="margin-top: 112px;" *ngIf="comuna.invalid && comuna.touched" class="input-error"><strong>* Campo requerido</strong></p>
        </div>

        <div class="input">
            <div class="nav">
                Rut
            </div>
            <input [formControl]="rut" [(ngModel)]="this.clienteDefault.rut" type="text">
            <p style="margin-top: 112px;" *ngIf="rut.invalid && rut.touched" class="input-error"><strong>* Campo requerido</strong> ej: 12345678-1 </p>
        </div>

        <div class="input">
          <div class="nav">
              Ciudad
          </div>
          <input [formControl]="ciudad" [(ngModel)]="this.clienteDefault.ciudad" type="text">
          <p style="margin-top: 112px;" *ngIf="ciudad.invalid && ciudad.touched" class="input-error"><strong>* Campo requerido</strong></p>
      </div>

    </div>
    <div style="margin-top: 72px;" class="buttons">
        <button (click)="this.add_cliente()"  class="button1">
            Guardar
        </button>

        <button (click)="this.renew()" class="button2">
            Cancelar
        </button>
    </div>

</div>
