<app-navbar [var]="{route:'/clientes/clientes',title:'Añadir cliente'}" ></app-navbar>


<div class="container">
    <!-- contenedor master -->

    <form action="">
        <!-- este guarda los inputs -->


        <!-- input nuevo -->

        <div class="form-input">
            <div class="form-input-nav">
                Nombre
            </div>
            <input type="text">
        </div>

        <!-- input nuevo -->

        <div class="form-input">
            <div class="form-input-nav">
                Direccion
            </div>
            <input type="text">
        </div>

        <!-- input nuevo -->

        <div class="form-input">

            <div class="form-input-nav">
                Telefono
            </div>
            <input type="text">
        </div>

        <!-- input nuevo -->
        <div class="form-input">
            <div class="form-input-nav">
                Correo
            </div>
            <input type="text">
        </div>

        <!-- input nuevo -->

        <div class="form-input">
            <div class="form-input-nav">
                Rut
            </div>
            <input type="text">
        </div>
        


        <div class="buttons">
            <button class="guardar">
                Guardar
            </button>
            <button class="cancelar">
                Cancelar
            </button>
        </div>


        
    </form>


    
    
    <!-- fin contenedor form -->


    

</div>

<!-- width 84 -->